NEXT_PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
NEXT_PUBLIC_APPWRITE_PROJECT_ID=your_project_id

NEXT_PUBLIC_APPWRITE_DB_CORE_ID=core
NEXT_PUBLIC_APPWRITE_DB_EXTENSIONS_ID=extensions

NEXT_PUBLIC_APPWRITE_COLLECTION_USERS=users
NEXT_PUBLIC_APPWRITE_COLLECTION_CHATS=chats
NEXT_PUBLIC_APPWRITE_COLLECTION_CHATMEMBERS=chatmembers
NEXT_PUBLIC_APPWRITE_COLLECTION_MESSAGES=messages
NEXT_PUBLIC_APPWRITE_COLLECTION_CONTACTS=contacts
NEXT_PUBLIC_APPWRITE_COLLECTION_DEVICES=devices
NEXT_PUBLIC_APPWRITE_COLLECTION_USERNAMES=usernames

NEXT_PUBLIC_APPWRITE_COLLECTION_BOTS=bots
NEXT_PUBLIC_APPWRITE_COLLECTION_WEB3WALLETS=web3wallets
NEXT_PUBLIC_APPWRITE_COLLECTION_INTEGRATIONS=integrations
NEXT_PUBLIC_APPWRITE_COLLECTION_EXTENSIONSETTINGS=extensionsettings

# Add storage buckets if/when needed
